<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
</head>
<body>
        <h4>相关列表：</h4>
        <ul>
          <li>
            <a href="../static/python_base/index.html">python基础</a>
          </li>
          <br>
          <li>python核心编程
                <ul>
                        <li>
                            <a href="../static/python_master/update/index.html">python高级</a>
                        </li>
                        <li>
                            <a href="../static/python_master/Web/index.html">Web服务器案例</a>
                        </li>
                        <li>
                                <a href="../static/python_master/Network/index.html">网络编程</a>
                        </li>
                        <li>
                                <a href="../static/python_master/OS/index.html">系统编程</a>
                        </li>
                        <li>
                                <a href="../static/python_master/RE/index.html">正则表达式</a>
                        </li>
                      </ul>
                      
          </li>
          <br>

          <li><a href="../static/django/index.html">Django</a></li>
          <br>

          <li><a href="../static/linux/index.html">Linux基础</a></li>
          <br>

          <li>Shell
                <ul>
                        <li>
                            <a href="../static/shell/nginx/nginx课件.html">nginx</a>
                        </li>
                        <li>
                                <a href="../static/shell/shell/运维和shell.html">shell</a>
                        </li>
                        <li>
                                <a href="../static/shell/auto/自动化部署.html">自动化部署</a>
                        </li>
                </ul>
          </li>
          <br>

          <li><a href="../static/font/index.html">前端</a></li>
          <br>

          <li>数据库
                <ul>
                        <li>
                            <a href="../static/db/MySQL/index.html">mysql</a>
                        </li>
                        <li>
                                <a href="../static/db/mongo/index.html">mongodb</a>
                        </li>
                        <li>
                                <a href="../static/db/redis/index.html">redis</a>
                        </li>
                </ul>

          </li>
          <br>

          <li><a href="../static/data_count/index.html">数据结构和算法</a></li>
          <br>

          <li><a href="../static/spider/index.html">爬虫</a></li>
          <br>
          <br>
        <span>本站数据来源于网络整理，系传智播客教材，任何侵权与本站无关。如有侵权可联系删除</span>
    
</body>
</html>